# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Intellij
.idea
out
 
# eclipse
/.apt_generated
/.classpath
/.factorypath
/.project
/.settings
/bin

day*.txt

session.txt
